<div class="modal-header">
    <h5 class="modal-title">Résumé de la réservation</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p><strong>Date :</strong> {{ reservationData.date }}</p>
    <p><strong>Jour :</strong> {{ reservationData.day }}</p>
    <p><strong>Heure :</strong> {{ reservationData.time }}</p>
    <p><strong>N° Bus :</strong> {{ reservationData.busNumber }}</p>
    <p><strong>Nombre de places :</strong> {{ reservationData.seats }}</p>
    <p><strong>Prix :</strong> {{ reservationData.price }} €</p>
    <p><strong>Méthode de paiement :</strong> {{ reservationData.paymentMethod }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Fermer</button>
  </div>
  