<h1>Bienvenue sur le site de réservation en ligne des voyages Trandev</h1>


<div class="container mt-4">
    <h2 class="mb-4">Liste des Réservations</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Client ID</th>
                    <th>Numéro de Bus</th>
                    <th>Date de Voyage</th>
                    <th>Prix (€)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations" [routerLink]="['/reservations', reservation.id]" class="cursor-pointer">
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.clientId }}</td>
                    <td>{{ reservation.busNumber }}</td>
                    <td>{{ reservation.dateOfTravel | date:'mm/dd/yyyy à hh:mm:ss' }}</td>
                    <td>{{ reservation.price | currency:'EUR' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>